@font-face {
  font-family: 'Calibri';
  src: url('Calibri.svg#Calibri') format('svg'),
       url('Calibri.ttf') format('truetype'),
       url('Calibri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: 'calibri (2)';
  src: url('calibri (2).eot');
  src: url('calibri (2).eot?#iefix') format('embedded-opentype'),
       url('calibri (2).woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

