/* @font-face {
  font-family: 'KhmerOS_battambang';
  src: url('KhmerOS_battambang.eot');
  src: url('KhmerOS_battambang.eot?#iefix') format('embedded-opentype'),
       url('KhmerOS_battambang.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: 'KhmerOSbattambang';
  src: url('font-battambang/KhmerOSbattambang.svg#KhmerOSbattambang') format('svg'),
       url('font-battambang/KhmerOSbattambang.ttf') format('truetype'),
       url('font-battambang/KhmerOSbattambang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

